*Assignment in Python*

In [12]:
x = 4
x

4

*Primitive datatypes*

In [5]:
"Hello World!"

'Hello World!'

In [6]:
True

True

In [7]:
False

False

In [8]:
5 > 3

True

*differences to R*

In [9]:
10 % 3

1

In [13]:
x == 4 or x < 2

True

In [16]:
None, True, False

(None, True, False)

*Numbers*

In [17]:
2

2

In [18]:
2.1

2.1

In [19]:
type(5)

int

In [20]:
type(2.1)

float

In [21]:
type(True)

bool

Python / R equivalents:


R  |  Python
______________
<- | = 
______________
character | String
__________________
integer | integer
__________________
double | float
______________
logical | boolean

TRUE, FALSE | True, False
_________________________
NULL | None
____________
class | type

*Py lists*

In [23]:
["a", 6.6, "b", 6]

['a', 6.6, 'b', 6]

In [24]:
["a", 6.6, "b", 6][0]

'a'

In [33]:
#This is a comment
#and this is a comment
my_items = ["key chain", "wallet", "phone", 4]
my_items[0], my_items[-1]

('key chain', 4)

In [34]:
my_items[0:2]

['key chain', 'wallet']

In [35]:
my_items[1:4]

['wallet', 'phone', 4]

In [36]:
# to make a list of numbers:
range(3,10)

range(3, 10)

In [37]:
type(range(3,10))

range

In [38]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

In [41]:
things = ["Apple", "Grape", 101, "Onion", False]
things

['Apple', 'Grape', 101, 'Onion', False]

In [42]:
things[0]

'Apple'

In [43]:
things[-1]

False

In [44]:
things[:-1]

['Apple', 'Grape', 101, 'Onion']

In [49]:
type(things[2])

int

In [50]:
type(things[3])

str

In [51]:
type(things[4])

bool

In [53]:
list(range(11,16))

[11, 12, 13, 14, 15]

In [55]:
#disctionary

person = {
    "name": "Gleb",
    "age": 37
}

In [56]:
person["name"]

'Gleb'

In [57]:
len(person)

2

In [58]:
len(things)

5

In [65]:
student_info = {
  "Agnes" : 68,
  "Bobby" : 45,
  "Charlie" : {"age" : 33, "gender" : "Female"}
}
student_info["Charlie"]["age"]

33

In [66]:
len(student_info)

3

Python Functions

In [61]:
sum([1,2,3])

6

In [67]:
numbers = [19,4,33,6]
numbers.sort()

In [74]:
numbers

[4, 6, 19, 33]

In [76]:
numbers.pop()
numbers

[4, 6]

In [77]:
numbers.append(33)
numbers

[4, 6, 33]

In [78]:
numbers.append([1,2,3])
numbers

[4, 6, 33, [1, 2, 3]]

In [80]:
numbers.extend([1,2,3])
numbers

[4, 6, 33, [1, 2, 3], 1, 2, 3, 1, 2, 3]

In [81]:
person

{'name': 'Gleb', 'age': 37}

In [82]:
person.update({"dog" : "Bud"})
person

{'name': 'Gleb', 'age': 37, 'dog': 'Bud'}

In [83]:
person.update({"age" : 100})
person

{'name': 'Gleb', 'age': 100, 'dog': 'Bud'}

In [84]:
person.pop("age")
person

{'name': 'Gleb', 'dog': 'Bud'}

In [104]:
primes = [1, 2, 3, 5, 7]
primes

[1, 2, 3, 5, 7]

In [106]:
primes.pop(0)
primes

[3, 5, 7]

In [107]:
primes.extend([11,13,17])
primes

[3, 5, 7, 11, 13, 17]

In [111]:
primes.reverse()

In [112]:
primes

[17, 13, 11, 7, 5, 3]

In [113]:
primes.remove(3)

In [114]:
primes

[17, 13, 11, 7, 5]

Importing

In [115]:
import math

In [116]:
math.sqrt(25)

5.0

In [119]:
temperature = 28

if temperature > 20:
    print("Heatwave!")

Heatwave!

In [121]:
temperature = 12

if temperature > 20:
    print("Heatwave!")
else: 
    print("The usual!")

The usual!

In [123]:
if temperature > 20:
    print("Heatwave!")
elif temperature> 11:
    print("Pretty good!")
else: 
    print("The usual!")

Pretty good!

In [124]:
for number in numbers:
    print(number * 2)

8
12
66
[1, 2, 3, 1, 2, 3]
2
4
6
2
4
6

FizzBuzz

In [134]:
numbers = range(1, 101)

for i in numbers: 
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 5 == 0:
        print("Buzz")
    elif i % 3 == 0:
        print("Fizz")
    else: 
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz